/*
CSS file created with:Instantblueprint - Create a web project framework in seconds.
http://instantblueprint.com
Project: Simple
File: css/style.css
Last edited: January 16, 2016, 5:52 pm
*/

@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:700&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');

/*  Main  */

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    background: #0FF;
    color: #000;
    margin: 0;
    padding: 0;
    cursor: none;
    --main-color: #00AE7C;
    --main-color-pos: #fff;
    --color-black:#000;
}

#wrapper {
    display: flex;
    height: 100%;
    cursor: none;
}

.container-half {
    /* cursor: none;  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: var(--main-color-pos);
    overflow: hidden;
    position: relative;
    color: var(--main-color);
}

.container-half.container-negative {
    background: var(--main-color);
    color: var(--main-color-pos);
}

#px-render {
    position: absolute;
    mix-blend-mode: screen;
}

#px-render-green {
    position: absolute;
    mix-blend-mode: multiply;
}

#cursor {
    position: absolute;
    float: left;
    display: inline-block;
    /* background:lime; */
}

canvas {
    /* width: 100%; */
    /* height: 50%; */
}

.svt-main-title--mobile {
    display: none;
}

.mobile-coming-soon-overlay {
    display: none;
}


/* mobile */

@media (max-width: 800px) {
    .mobile-coming-soon-overlay {
        display: flex;
        z-index:1;
        text-align:center;
        /* padding:0 40px; */
        width: 100%;
        height: 100%;
        position: absolute;
        top:0px;
        left:0px;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        letter-spacing: 2.3px;
        line-height: 43px;
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        color: var(--color-black);
    }
    canvas {
        display: none;
    }
    body,
    #wrapper {
        cursor: auto;
    }
    #cursor {
        display: none;
    }
    .svt-main-title--mobile {
        display: flex;
        text-align: center;
        font-size: 19px;
        line-height: 24px;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 700;
        align-self: flex-end;
        margin-bottom: 35px;
        
    }
    .svt-main-title {
        display: none;
    }
}