canvas {
    width:100%;
    margin-bottom:30px;
    
}

/* 
.intro-float-1 {
    width:60vw;
    height:60vw;
    background:#f0f;
    display:inline-block;
    position: relative;
}
.intro-float-1 img{
width:100%;
height:100%;
}
.intro-moon {
    width:70%;
    height:70%;
    background:#f00;
    border-radius:200px;
    position: absolute;
    
} */

#px-render, #px-render-green {
    transition:all 3s ease;
}

.float-intro img {
    max-width:570px;
    margin-bottom:50px;
    width:100%;
}
.float-intro.white {
    /* mix-blend-mode: screen; */
    left: 0%;
}

.float-intro.green {
    /* mix-blend-mode: multiply; */
    left: 50%;
}

.float-intro.white.hideintro {
    opacity:0;
    left: 0%;
    width:var(--left-space);
}

.float-intro.green.hideintro {
    opacity:0;
    left: calc(100% - var(--left-space));
    width: var(--left-space);
}

.float-intro.white.showintro {
    opacity:1;
    left:0px;
    width:100%;
}

.float-intro.green.showintro {
    opacity:1;
    left:0px;
    width:100%;
}


.float-intro {
    transition:all 1s ease;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

.intro-scrolldown {
    opacity:0 !important;
}

.scroll-focus.wrap-zira .intro-main-title {
    margin-right:var(--left-space);
}
.scroll-focus.wrap-svt .intro-main-title {
    margin-left:var(--left-space);
}

.wrapper {
    display: flex;
}

.center-col {
    max-width: 1180px;
    min-width: 700px;
    margin: auto auto;
}

.center-col-inner {
    margin: 0 64px;
}

/* canvas {
    width: 100%;
} */

.svt-intro,
.zira-intro {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-main-title {
    width:38%;
    max-width: 256px;
    margin-bottom:30px;
    margin-right:0px;
    margin-left:0px;
    transition:all 1s ease;
}

.container-half-content {
    transition: opacity 1s ease;
}

.scroll-blur .container-half-content {
    opacity: 0;
}

.container-half.scroll-begin {
    width: 50%;
}

.container-half.scroll-focus {
    width: calc(100% - var(--left-space));
}

.container-half.scroll-blur {
    width: var(--left-space);
}

.container-half {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--main-color-pos);
    color: var(--main-color);
    transition: width 1s ease;
}

.container-half.container-negative {
    background: var(--main-color);
    color: var(--main-color-pos);
}

.intro-main-title--mobile {
    display: none;
}

.hazira-container,
.svt-container {
    align-self: flex-end flex-end;
}


.focus-zira .wrap-svt {
    cursor: pointer;
}
.focus-svt .wrap-zira {
    cursor: pointer;
}

@media (max-width: 800px) {
    canvas {
        /* display: none; */
    }
    .intro-main-title--mobile {
        display: flex;
        text-align: center;
        font-size: 19px;
        line-height: 24px;
        align-self:flex-end;
        position: relative;
        top:-40px;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 700;
        /* align-self: flex-end; */
        /* margin-bottom: 35px; */
    }
    .intro-main-title {
        display: none;
    }
}