


@import 'fonts.css';
@import 'intro.css';
@import 'calender-heb.css';
@import 'common-section-heb.css';
@import 'menu.css';

body {
    height: 100%;
    /* overflow: hidden; */
    
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    /* cursor: none; */
    --main-color: #00AE7C;
    --main-color-pos: #fff;
    --color-black: #000;
    --left-space:130px;


}


/* disables scrollbars */

::-webkit-scrollbar { 
    display: none; 
}