@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:700&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');

/*  Main  */

html {
    height: 100%;
}

body {
    height: 100%;
    /* overflow: hidden; */
    background: #f0f;
    color: #000;
    margin: 0;
    padding: 0;
    /* cursor: none; */
    --main-color: #00AE7C;
    --main-color-pos: #fff;
    --color-black: #000;
}



.svt-intro,
.zira-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrap-zira.scroll-focus {
    width: calc(100% - 40px);
    left: 0px;
}
.wrap-zira.scroll-blur {
    width:40px;
    left: 0px;
}

.wrap-svt.scroll-focus {
    width: calc(100% - 40px);
    left: 0px;
}
.wrap-svt.scroll-blur {
    width:40px;
    left: calc(100% - 40px);
}



.container-half {
    width: 50%;
    background: var(--main-color-pos);
    color: var(--main-color);
    position: fixed;
    top:0px;
    left:0px;
   height: 100%;
    overflow-y:scroll;
}

.container-half.container-negative {
    background: var(--main-color);
    color: var(--main-color-pos);
    left:50%;
    
}

.pixi-render {
    position: absolute;
    top: calc(50% - 300px);
}

#px-render {
    mix-blend-mode: screen;
}

#px-render-green {
    mix-blend-mode: multiply;
}

.intro-main-title--mobile {
    display: none;
}

.hazira-container,
.svt-container {
    align-self: flex-end flex-end;
}


/* event calander desktop */


/* title */

.svt-cal-item-title {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    /* background: lime; */
    border-bottom: 2px solid #fff;
}

.svt-cal-item-title__name,
.svt-cal-item-title__right,
.svt-cal-item-title__left,
.svt-cal-item-content
{
    display: flex;
}

.svt-cal-item-title__left {
    flex-direction: column;
}


/* accordion icon */

.svt-cal-item-title__accordion {
    transition: all 0.3s ease;
}

.svt-zippy--open .svt-cal-item-title__accordion {
    transform: rotate(180deg);
}


/* content */

.svt-cal-item-content {
    direction: rtl;
}
.svt-cal-item-content-wrap{
    display:none;
}

.svt-cal-item-content__image {
    width: 50%;
}

.svt-cal-item-content__image img {
    width: 100%;
}


/* mobile */

@media (max-width: 800px) {
    canvas {
        display: none;
    }
    body,
    #wrapper {
        cursor: auto;
    }
    .intro-main-title--mobile {
        display: flex;
        text-align: center;
        font-size: 19px;
        line-height: 24px;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 700;
        /* align-self: flex-end; */
        /* margin-bottom: 35px; */
    }
    .intro-main-title {
        display: none;
    }
}